/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary-lightest: #c3daee;
  --ifm-color-primary: #337ab7;
  --ifm-color-secondary-light: #eef0f2;
  --ifm-color-secondary: #ebedf0;
  --ifm-color-secondary-dark: #d3d8de;
  /* --ifm-color-secondary-dark: #d4d5d8; */
  --ifm-color-secondary-darker:  #606770;
  --ifm-color-grey:grey;

  --ifm-button-color: #fff;

  --ifm-code-font-size: 95%;

  --ifm-footer-color: #606770;
  --ifm-navbar-background-color: #f5f6f7;
  --ifm-navbar-link-color: #606770;
  --ifm-navbar-link-hover-color: #000;
  --ifm-footer-link-hover-color: #000;
  --ifm-link-hover-decoration: none;

  /*sidebar*/
  --ifm-menu-color-active: #000;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

a{
  color: #337ab7;
}

.boxBorder {
  border: 1px solid red;
  border-radius: 0.5rem;
  margin: 0.625rem;
  padding: 0.625rem;
}

/* next chapter buttons */
.pagination-nav__label{
  color: black;
}

/* author */
.avatar__intro{
  color: black;
}

footer{
  bottom: 0;
  width: 100%;
}

.navbar__title{
  color: #606770;
}

button[name="downloadBtn"]:hover{
  background: white;
  color: #337ab7;
}

.center_space_between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row{
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin: auto;
  max-width: calc(95vw);
}

.card__info {
  z-index: 2;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  height: 23.5rem;
}

@media screen and (max-width: 966px) {
  .card_u {
    margin: 1rem;
    width: 70%;
  }
}

.table-of-contents__link--active{
  color: black;
}

.table-of-contents__link:hover,
.pagination-nav__link:hover,
a:hover
{
  background-color: #efeff0;
  color: #606770;
}

.button button--primary:hover{
  /* color: white */
}

.fund{
  color: #dcddde;
  font-weight: bolder !important;
  padding-left: 1rem;
  margin-left: 1rem;
  font-size: 300%;
}

main{
  background-color: #f5f6f7;
}

/*sidebar*/
/*li:nth-of-type(2){*/
/*.menu__list:nth-child(1){*/
/*!*.menu__list-item:nth-of-type(2){*!*/
/*  background-color: red;*/
/*}*/

/*.menu__list-item:nth-child(2){*/
/*  !*.menu__list-item:nth-of-type(2){*!*/
/*  background-color: red;*/
/*}*/

/*admin*/
.footer__col:nth-of-type(4) a.footer__link-item:nth-of-type(1){
  color: lightgrey;
}

/*.footer__col:nth-of-type(1) a.footer__link-item:nth-of-type(1){*/
/*  color: lightgrey;*/
/*}*/

.subTitle {
  color: rgba(136,153,168,1.00);
  font-weight: normal;
  margin-bottom: 10px;
}

.figCaption {
  color: rgba(136,153,168,1.00);
  font-weight: normal;
  font-size: small;
  text-align: center;
  margin-top: unset !important;
}

iframe.fit-container {
  width: 100%;
  height: 600px;
}

.reader-badge {
  margin-bottom: 10px;
}
